body {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

body.blur {
    position: relative;
}

body.blur::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 100%;
    z-index: -1;
    backdrop-filter: blur(30px);
    background: linear-gradient(to bottom, #428aba00 18%, #37474f 90%);
}

* {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    /* 
    line-height: 160%; */
}

button,
.btn,
a {
    font-family: 'Poppins', sans-serif;
    text-transform: initial;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.bg-primary {
    background-color: #F9C200;
}

.bg-primary:hover {
    background-color: #d1a400;
}

.btn.bg-primary {
    box-shadow: 0px 4px 38px 4px #FFC700;
}

.btn-primary {
    height: 55px;
}

.text-light {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

.text-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

.text-regular {
    font-family: "Poppins", sans-serif;
}

.text-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}

.text-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}

.text-justified {
    text-align: justify;
}

.center-col {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.center-col>.col {}

.bdr {
    border-radius: 12px;
}

.m0 {
    margin: 0;
}

.pd50 {
    padding: 40px;
}

.pd20 {
    padding: 20px;
}

.pd {
    padding-left: 110px;
    padding-right: 110px;
}

.btn {
    border-radius: 0px;
}

.btn-large {
    border-radius: 0px;
}

.border-radius {
    border-radius: 12px;
}

.text-justify {
    text-align: justify;
}

.full-img {
    width: 100%;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.p-sticky {
    position: sticky;
}

.blur-background {
    backdrop-filter: blur(10px);
    background: #f5f7f979;
    width: 100%;
    overflow: hidden;
}

.blur-background-1 {
    backdrop-filter: blur(20px);
    background: #f5f7f979;
    width: 100%;
}

.blur-background-2 {
    backdrop-filter: blur(30px);
    background: #f5f7f979;
    width: 100%;
}

.blur-background-3 {
    backdrop-filter: blur(40px);
    background: #f5f7f979;
    width: 100%;
}

.blur-background-4 {
    backdrop-filter: blur(60px);
    background: #f5f7f979;
    width: 100%;
}

.blur-background-5 {
    backdrop-filter: blur(80px);
    background: #f5f7f979;
    width: 100%;
}

.app-ullistration-container {
    height: 90vh;
}

.app-ullistration {
    position: relative;
    border-radius: 20px;
    width: 280px;
    height: 80vh;
    margin: auto;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row {
    flex-direction: column;
}

.justify-space-between {
    justify-content: space-between;
}

.center-col {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

thead {
    position: sticky;
    top: 0;
    background-color: white;
}

@media only screen and (max-width: 968px) {
    /* For mobile phones: */
    .pd {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .pd {
        padding-left: 12px;
        padding-right: 12px;
    }
    .pd50 {
        padding: 15px;
    }
    .pd20 {
        padding: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .modal {
        width: 90% !important;
    }
}