body {
    background-color: #FFC700;
}

.header {
    padding: 20px;
}

header a img {
    width: 35px;
}

main {
    margin: 30px 0;
    border: 2px solid #ffffff;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.card h4 {
    font-size: 15px;
}