.modal-container {
    position: fixed;
    height: 100vh;
    backdrop-filter: blur(1px);
    z-index: 300;
    background-color: rgba(1, 8, 14, 0.300);
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: modal .5s;
    .modal {
        padding: 0 25px;
        margin: 15px;
        max-width: 760px;
        border-radius: 11px;
        &-header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 0;
            padding-top: 15px;
            border-bottom: 1px solid rgb(146, 168, 196);
            button {
                left: auto;
                right: 6px;
                padding: 10px;
                line-height: 14px;
                background: none;
                font-size: 27px;
                font-weight: 100;
                transition: all .3s;
            }
            button:hover,
            button:focus {
                color: rgb(247, 114, 114) !important;
                font-weight: 300;
            }
        }
        &-body {
            margin-top: 20px;
            th {
                display: flex;
                justify-content: space-between;
            }
            td {
                text-align: right;
                color: #414e68c9;
                a {
                    color: #414e68c9;
                }
            }
        }
        &-footer {
            padding: 10px 0;
            display: flex;
            justify-content: flex-end;
        }
    }
}

@keyframes modal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}