
@font-face {
    font-family: Lexend-Light;
    src: url("../fonts/Lexend/Lexend-Light.ttf") format("truetype");
}

@font-face {
    font-family: Lexend-Thin;
    src: url("../fonts/Lexend/Lexend-Thin.ttf") format("truetype");
}

@font-face {
    font-family: Lexend-Medium;
    src: url("../fonts/Lexend/Lexend-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Lexend-Regular;
    src: url("../fonts/Lexend/Lexend-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Lexend-SemiBold;
    src: url("../fonts/Lexend/Lexend-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: Lexend-Bold;
    src: url("../fonts/Lexend/Lexend-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Lexend-ExtraBold;
    src: url("../fonts/Lexend/Lexend-ExtraBold.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

.text-light {
    font-family: "Lexend-Light", sans-serif;
}

.text-thin {
    font-family: "Lexend-Thin", sans-serif;
}

.text-medium {
    font-family: "Lexend-Medium", sans-serif;
}

.text-regular {
    font-family: "Lexend-Regular", sans-serif;
}

.text-semibold {
    font-family: "Lexend-SemiBold", sans-serif;
}

.text-bold {
    font-family: "Lexend-Bold", sans-serif;
}

.text-extrabold {
    font-family: "Lexend-ExtraBold", sans-serif;
}

.text-justified {
    text-align: justify;
}


/* 
#487cff
#3459b6
#8aaafc

*/

body {
    position: relative;
    color: #01052a;
    font-family: "Lexend-Light", sans-serif;
    transition: all 0.4s;
}

p {
    font-family: "Lexend-Light", sans-serif;
}

header {
    /* 
    background: linear-gradient(90deg, #01052a, #3459b6); */
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    height: 64px;
    background: #487cff81;
    backdrop-filter: blur(6px);
}

nav a {
    color: white;
}


/* 
#487cff
#3459b6
#8aaafc

*/

.bg-color {
    background-color: #3459b6;
}

.bg-color-1 {
    background-color: #487cff;
}

.bg-color-2 {
    background-color: #8aaafc;
}

.bg-color-3 {
    background-color: #f5f5ff;
}


.bdr-1 {
    border-radius: 6px !important;
}

.bdr-2 {
    border-radius: 14px !important;
}
.bdr-3 {
    border-radius: 22px !important;
}
.bdr-4 {
    border-radius: 30px !important;
}
.bdr-5 {
    border-radius: 38px !important;
}

.pd5 {
    padding: 5px;
}

.pd10 {
    padding: 10px;
}

.pd20 {
    padding: 20px;
}

.row-centered {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.section {
    padding-top: 50px;
    padding-bottom: 70px;
}

.principal-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    width: 60px;
    animation: rotate 33s infinite 0s linear;
}

.section-intro {
    position: relative;
    min-height: 100vh !important;
}

.back-layer {
    position: relative;
    width: 100%;
    height: 105vh;
    background: linear-gradient(170deg, #3459b6, #3459b680, #f5f5ff80 85%), url(../images/connected-technology.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scroll-affiche-container {
    position: absolute;
    z-index: 0;
    width: 300px;
    height: 100%;
    max-width: 100%;
    top: 0;
    left: auto;
    right: 195px;
    overflow: hidden;
    border-left: 3px dashed #3459b634;
    border-right: 3px dashed #3459b634;
}

.scroll-affiche-container ul {
    height: max-content;
    transform: translateY(-10%);
    margin-right: 20px;
    animation: scroll 150s infinite 0s alternate-reverse linear;
}

.scroll-affiche-container li {
    width: 100%;
    margin: 5px 10px;
    border-radius: 8px;
}

.scroll-affiche-container img {
    width: 100%;
    border: 3px solid white;
    border-radius: 18px;
    opacity: 0.9;
}

@keyframes scroll {
    from {
        transform: translateY(-95%);
    }
    to {
        transform: translateY(0%);
    }
}

.text-layer {
    padding-top: 20px;
    top: 0;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
}

.text-layer .row {
    height: 100%;
}

.text-layer .row .text-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.text-layer .text-container>div {
    position: relative;
    top: 20px;
    z-index: 1;
    border-radius: 18px;
    padding: 20px;
    width: 100%;
    background: #0a184760;
    backdrop-filter: blur(6px);
}

.text-layer .row h1 {
    font-size: 54px;
    color: silver !important;
}

.text-layer .row .right {
    position: absolute;
    top: auto;
    left: auto;
    right: 0;
    bottom: 70px;
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
}

@media only screen and (max-width: 772px) {
    .scroll-affiche-container {
        right: 0;
        width: auto;
        margin: 0 20px;
    }
    .text-layer .row h1 {
        font-size: 42px;
        color: silver !important;
    }
}

input {
    margin: 8px 0;
    padding: 12px;
    border-radius: 18px;
    border: 2px solid #01052a;
    width: 100%;
    background: none;
    color: rgb(41, 41, 41);
}

input::placeholder {
    color: #01052ab2;
    font-size: 16px;
    text-align: left;
}

.submit-btn {
    margin: 20px 0;
    background: #01052a;
    color: white;
    border: none;
    width: 140px;
    font-size: 18px;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}